body{
	font-family: 'Montserrat', sans-serif;
	min-width: 320px;
	color: #1d1d1d;
}
img{
	max-width: 100%;
	height: auto;
}
section{
	padding: 100px 0;
}
h3{
	font-style: italic;
	font-size: 42px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
h4{
	font-weight: 600;
	font-size: 44px;
	margin-bottom: 20px;
}

/*==============================HEADER=====================================*/
.main-header {
	background: url(../img/main1.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: 700px;
	padding-top: 20px;
	position: relative;
}
.main-header .navbar-brand {
	font-size: 42px;
	font-weight: 600;
	color: #fff;
}
.navbar-brand img{
	padding-bottom: 15px;
	padding-right: 4px;
}
.main-header ul li a{
	color: #fff;
	font-size: 17px;
	font-weight: 600;
}
.main-header ul li a::after{
	content: '';
	width: 100%;
	height: 1px;
	transform: scale(0);
	background-color: #fff;
	display: block;
	transition: all .3s;
}
.main-header ul li a:hover::after{
	transform: scale(1);
}
.main-header .navbar-toggler{
	color: #fff;
}
.main-header-text {
	position: absolute;
	top: 25%;
	left: 5%;
	max-width: 780px;
	color: #fff;
	padding: 20px;
}
.main-header-text h4{
	font-size: 62px;
}
.main-header-text h3{
	font-size: 43px;
}
.main-header-text p{
	font-size: 23px;
}
.main-header-buttons{
	padding-top: 50px;
}
.main-header-buttons .btn{
	color: #fff;
	width: 200px;
	height: 60px;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	margin-right: 25px;
	opacity: .8;
	transition: all .4s;
}
.main-header-buttons .btn-pink{
	background-color: #f42267;
	margin-left: 60px;
}
.main-header-buttons .btn-violet{
	background-color: #753390;
}
.main-header-buttons .btn:hover {
	opacity: 1;
	box-shadow: 0 4px 16px rgba(0,0,0,0.35);
}

/*=======================Watch=======================================*/
.btn2-pink{
	width: 146px;
	height: 47px;
	box-shadow: 0 10px 0 #ff5990;
	border-radius: 10px;
	background-color: #f42267;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	transition: all .5s;
	text-transform: uppercase;
}
.btn2-pink:hover{
	box-shadow: 0 5px 0 #ff5990;
}

.section-watch{
	background: url('../img/world_map.png') center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.section-watch h3{
	color: #484848;
	font-size: 33px;
	font-weight: 600;
}
.section-watch h4{
	color: #484848;
	font-size: 50px;
	font-weight: 600;
}

.section-watch .nav-pills{
	margin-bottom: 20px;
}
.section-watch .nav-pills .nav-item .nav-link{
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 14px 30px;
	color: #484848;
}
.section-watch .nav-pills .nav-item .nav-link.active{
	background-color: #f42267;
	color: #fff;
	box-shadow: 0 4px 16px rgba(0,0,0, .35);
}

/*.btn-shadow{
	border-radius: 10px;
	box-shadow: 0 10px 0 #ff5990;
	padding: 10px 25px;
	transition: all .5s; 
}
.btn-shadow:hover{
	box-shadow: 0 5px 0 #ff5990;
	background-color: #da1757;
}*/
/*================================Progress==========================*/
.section-progress{
	background-color: #4b2d7f;
	color: #fff;
	font-size: 15px;
	padding: 0;
}
.section-progress i{
	font-size: 75px;
	color: #fff;
	transform: rotate(-35deg);
	padding-bottom: 40px;
}
.section-progress .num{
	color: #fff;
	font-weight: 600;
	font-size: 50px;
}
.section-progress h4{
	color: #fff;
	font-weight: 400;
	font-size: 28px;
	height: 72px;
	overflow: hidden;
	padding-bottom: 40px;
}
.section-progress h4 span{
	font-size: 32px;
	font-weight: 600;
}
.section-progress p{
	font-weight: 400;
	color: #fff;
	font-size: 15px;
}
.section-progress .progress-item{
	transition: all .5s;
	padding-top: 80px;
	padding-bottom: 80px;
}
.section-progress .progress-item:hover{
	background-color: #40286a;
}

/*==========================Letsgrow===========================*/
.section-letsgrow{
	color: #fff;
	background:  linear-gradient(45deg, #2d2b7a, #2d2b7a), url('../img/Layer_23.jpg') center no-repeat;
	background-blend-mode: overlay;
	-webkit-background-size: cover;
	background-size: cover;
	
}
.section-letsgrow h3{
	font-size: 48px;
}
.section-letsgrow h4{
	font-size: 50px;
}
.section-letsgrow p{
	font-size: 20px;
	padding-bottom: 40px;
}

/*======================Design==============================*/
.section-design{
	background-color: #fff;
}
.section-design h3, .section-design h4{
	color: #484848;
}
.section-design h3{
	font-size: 33px;
}
.section-design h4{
	font-size: 50px;
	font-weight: 600;
}
.section-design p{
	color: #1d1d1d;
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 10px;
}
.section-design i{
	background: linear-gradient(to top, #dd164c 0%, #5d0aa8 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-size: 75px;
	padding-bottom: 20px;
	padding-top: 10px;
}
.section-design .fa-bullhorn{
	transform: rotate(-30deg);
	
}
.section-design h5{
	color: #484848;
	font-weight: 600;
	font-size: 25px;
}
.section-design .cards-design p{
	font-size: 14px;
	font-weight: 400;
}
.section-design .embed-responsive{
	position: relative;
	border-radius: 10px;
}
#videoPlayBtn{
	width: 100%;
	height: 100%;
	z-index: 1000;
	position: absolute;
	top: 0;
	cursor: pointer;
	background: url(../img/play.png) center no-repeat;
}
/*=============Work============*/
.section-work{
	background: #f1f1f1;
}
.section-work h4{
	font-weight: 600;
	font-size: 50px;
	color: #333;
}
.section-work p{
	font-weight: 400;
	font-size: 20px;
	color: #333;
	padding-bottom: 40px;
}
.section-work .gallery a img{
	transition: all 0.6s;
}
.section-work .gallery a:hover img{
	box-shadow: 0 14px 30px -15px rgba(0,0,0, .75);
	transition: all 0.6s;
}
.section-work .nav-pills{
	margin-bottom: 66px;
}
.section-work .nav-pills .nav-item .nav-link{
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 14px 30px;
	color: #484848;
}
.section-work .nav-pills .nav-item .nav-link.active{
	background-color: #f42267;
	color: #fff;
	box-shadow: 0 4px 16px rgba(0,0,0, .35);
}
.section-work .gallery .gallery-item {
	padding-bottom: 30px;
}
.section-work .btn2-pink{
	display: block;
	margin: 70px auto 0;
}

/*=========Company============*/
.section-company{
	background: #4b2d7f;
}
.section-company .row{
	align-items: center;
	align-content: center;
}
.section-company .row .col-md-3{
	padding-bottom: 60px;
}
/*Reviews*/
.section-reviews {
	background: url('../img/reviews_bg.jpg') center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 0;
}
.section-reviews .carousel-caption{
	top: 5%;
	bottom: auto;
	text-align: left;
}
.section-reviews .blockquote{
	font-style: italic;
	font-weight: 500;
	position: relative;
	margin-top: 70px;
	font-size: 22px;
	padding-left: 40px;
}
.section-reviews .blockquote::before{
	content: '\201C';
	float: left;
	font-size: 150px;
	font-style: italic;
	color: #f42267;
	position: absolute;
	font-weight: 500;
	top: -80px;
	left: -30px;
}
/*unicodetable.com*/

/*==========Form==============*/
.section-form .btn2-pink{
	background-color: #4b2d7f;
	box-shadow: 0 4px 0 #a57ee9;
	height: 46px;
}
.section-form .btn2-pink:hover{
	box-shadow: 0 1px 0 #a57ee9;
}

.section-form{
	background: url(../img/shape.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.section-form h4{
	font-size: 50px;
	color: #fff;
	font-weight: 600;
}
.section-form h5{
	font-size: 30px;
	color: #fff;
	font-weight: 600;
}
.section-form p{
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	padding-bottom: 40px;
}


/*================Info===============*/

.section-info h5{
	font-size: 25px;
	font-weight: 700;
	color: #4b2d7f;
	padding-bottom: 10px;
}
.section-info a{
	text-decoration: none;
	font-size: 15px;
	color: #171717;
	font-weight: 400;
	background-color: #fff;
	transition: all .26s;
}

.info-company-item{
	padding-bottom: 60px;
}
.info-company-img{
	padding-bottom: 32px;
}
.section-info{
	background-color: #fff;
}

/*==============Footer=============*/
.footer{
	background-color: #f6f6f6;
	padding: 50px 0;
}
.footer p{
	color: #171717;
	font-size: 18px;
	font-weight: 600;
	margin: 0;
}



/*=================================@Media===================================*/

@media (max-width: 1199px){
	.section-info h5{
		padding-bottom: 0;
		font-size: 21px;
	}
	.section-info a{
		font-size: 14px;
	}
	.info-company-item{
	padding-bottom: 36px;
	}
}

@media (max-width: 992px) {
	.section-reviews h3,
	.section-reviews h4{
		font-size: 25px;
	}
	.section-reviews .blockquote{
		font-size: 17px;
		padding-left: 20px;
		margin-top: 40px;
	}
	.section-reviews .blockquote::before{
	content: '\201C';
	float: left;
	font-size: 100px;
	font-style: italic;
	color: #f42267;
	position: absolute;
	font-weight: 500;
	top: -40px;
	left: -30px;
}
}

@media (max-width: 991px) {
  .navbar-collapse{
  	background: linear-gradient(45deg, #911120 0%,#2a1d54 100%,#7db9e8 100%);
  	z-index: 1;
  }
  .main-header-text {
  	background: rgba(0,0,0, .35);
  	left: 0;
  	max-width: 100%;
  }
  .main-header-buttons {
  	max-width: max-content;
  	margin: 0 auto;
  }
  .main-header-buttons .btn-pink{
		margin-left: 0;
	}
	.section-form .btn2-pink{
	width: 100px;
}
}



@media (max-width: 768px) {
	.main-header-text h4{
		font-size: 34px;
	}
	.main-header-text h3{
		font-size: 28px;
	}
	.main-header-text p{
		font-size: 18px;
	}
	.main-header-buttons .btn{
		min-width: 50%;
		margin: 15px auto !important;
		display: block;
	}
	.main-header-buttons {
  		min-width: 100%;
  		margin: 0;
  }
  	
	.main-header-buttons {
		padding-top: 10px;
	}
	.main-header-text{
		top: 18%;
	}
	.section-progress h4{
		padding-bottom: 10px;
		margin-bottom: 0;
	}
	.section-progress .progress-item{
		padding-bottom: 40px;
		padding-top: 40px;
		/*margin-top: 10px;*/
	}

	.section-form .col-md-5{
		margin-bottom: 24px;
	}
	.section-info{
		padding-bottom: 40px;
	}
}

@media (max-width: 576px){
	.carousel-caption{
		position: static;
		width: 70%;
		margin: auto;
	}
	.footer p{
		font-size: 14px;
	}
	.section-info{
		padding-bottom: 20px;
	}
}

@media (max-width: 480px) {
  .main-header .navbar-brand {
	font-size: 29px;
	margin-left: 0 !important;
   }
   .main-header-buttons .btn{
		min-width: 100%;
	}
	.section-watch .nav-pills .nav-item .nav-link{
	padding: 10px 14px;
	}
	.section-watch .nav-pills .nav-item{
		text-align: center;
		min-width: 100%;
	}
	.section-work .nav-pills .nav-item{
		text-align: center;
		min-width: 100%;
	}
	.section-watch h3{
	font-size: 18px;
	}
	.section-watch h4{
	font-size: 26px;
	}
	.section-watch{
		padding: 40px 0;
	}
	.btn2-pink{
	display: block;
	margin: 0 auto 20px;
	}
	.section-info{
		padding-top: 40px;
	}
	.section-info h5{
		font-size: 18px;
	}
	.section-info a{
		font-size: 12px;
	}
	.info-company-item{
	padding-bottom: 26px;
	}

   
}

@media (max-width: 360px){
	.main-header-text h4{
		font-size: 30px;
	}
	.main-header-text h3{
		font-size: 24px;
	}
	.main-header-text p{
		font-size: 16px;
	}
}
